@import "./variable";

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  background: $background-color;
  font-family: "Montserrat", sans-serif;

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  div,
  span,
  i,
  img {
    user-select: none;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

// Scroll Bar
html,
body {
  & {
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track {
      width: 5px;
      border: none;
      background: transparent;

      &:horizontal {
        height: 5px;
      }
    }

    ::-webkit-scrollbar-button,
    ::-webkit-scrollbar-track-piece,
    ::-webkit-scrollbar-corner,
    ::-webkit-resizer {
      display: none;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: darkgrey;
    }

    ::-webkit-scrollbar-track {
      background-image: url("../../assets/scrollbarbg.svg");
      background-repeat: repeat-y;

      &:horizontal {
        background: none;
      }
    }
  }
}
